@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #EEF6F9;
}

/* COLORS:
    #4D77FF : primary color (blue)
    #FFCC33 : secondary color (yellow)
    #EEF6F9: background color
    #FFFFFF : white color
    #052B40 : header text color
    #243640 : body text color
    #5C6B73 : small gray text color
*/

/*===== NAVBAR =====*/

.navbar-wrap{
    background-color: #4D77FF;
}

.navbar-brand{
    font-size: 2rem;
    font-weight: 800;
    color: #FFFFFF;
    transition: all 0.4s;
}

.navbar-brand:hover{
    color:#052B40;
    transition: all 0.4s;
}

.nav-item-space{
    margin: 0 10px;
}

.nav-link{
    font-size: 0.825rem;
    font-weight: 600;
    color: #FFFFFF;
    transition: all 0.4s;
}

.nav-link:hover{
    color:#052B40;
    transition: all 0.4s;
}

.log-in-btn{
    margin-left: 50px;
    padding: 5px 20px;
    border: 0;
    border-radius: 20px;
    font-weight: 600;
}

.circle-btn{
    height: 50px;
    width: 50px;
    border: 0;
    border-radius: 50%;
    vertical-align: middle;
    background-color: #FFFFFF;
}

.dropdown-item{
    font-size: 1rem;
    color: #052B40;
    font-weight: 600;
}

.content-wrap{
    height: 85vh;
}

.main h1{
    font-size: 70px;
    font-weight: 700;
    color: #052B40;
}

.main h2{
    font-size: 38px;
    font-weight: 600;
    color: #052B40;
}

.main h5{
    font-size: 16px;
    font-weight: 400;
    color: #5C6B73;
}

.main a{
    font-size: 16px;
    font-weight: 400;
    color: #4D77FF;
}