@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #EEF6F9;
}

/*===== NAVBAR =====*/

.navbar-wrap{
    background-color: #4D77FF;
}

.navbar-brand{
    font-size: 2rem;
    font-weight: 800;
    color: #FFFFFF;
    transition: all 0.4s;
}

.navbar-brand:hover{
    color:#052B40;
    transition: all 0.4s;
}

.nav-item-space{
    margin: 0 10px;
}

.nav-link{
    font-size: 0.825rem;
    font-weight: 600;
    color: #FFFFFF;
    transition: all 0.4s;
}

.nav-link:hover{
    color:#052B40;
    transition: all 0.4s;
}

.log-in-btn{
    margin-left: 50px;
    padding: 5px 20px;
    border: 0;
    border-radius: 20px;
    font-weight: 600;
}

.circle-btn{
    height: 50px;
    width: 50px;
    border: 0;
    border-radius: 50%;
    vertical-align: middle;
    background-color: #FFFFFF;
}

.dropdown-item{
    font-size: 1rem;
    color: #052B40;
    font-weight: 600;
}

/*===== MAIN CONTENTS =====*/

.section-wrap{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(5, 43, 64, 0.1);
    border-radius: 20px;
    padding: 25px;
}

.section-wrap-yellow{
    background-color: #FFCC33;
    box-shadow: 0px 0px 30px rgba(5, 43, 64, 0.1);
    border-radius: 20px;
    padding: 25px;
}

.main h1{
    font-size: 128px;
    font-weight: 700;
    color: #052B40;
    margin: 0;
}

.main h2{
    font-size: 64px;
    font-weight: 700;
    color: #052B40;
    margin: 0;
}

.main h3{
    font-size: 40px;
    font-weight: 700;
    color: #052B40;
    margin: 0;
}

.main h4{
    font-size: 24px;
    font-weight: 600;
    color: #052B40;
    margin: 0;
}

.main h5{
    font-size: 16px;
    font-weight: 400;
    color: #052B40;
    margin: 0;
}

.main h6{
    font-size: 16px;
    font-weight: 400;
    color: #5C6B73;
    margin: 0;
}

.main p{
    font-size: 16px;
    font-weight: 400;
    color: #052B40;
}

.main ul{
    font-size: 16px;
    font-weight: 400;
    color: #052B40;
}

.bar{
    height: 50px;
    width: 10px;
    border: 0;
    border-radius: 5px;
}

.red-bar{
    background-color: #E44343;
}

.yellow-bar{
    background-color: #E9BE51;
}

.green-bar{
    background-color: #46C161;
}

.chosen{
    height: 70px;
}

.measure{
    margin-bottom: 12px !important;
}

.empty-wrap{
    height: 85vh;
}

.empty-wrap h1{
    font-size: 70px;
    font-weight: 700;
    color: #052B40;
}

.empty-wrap h2{
    font-size: 38px;
    font-weight: 600;
    color: #052B40;
}

.empty-wrap h5{
    font-size: 16px;
    font-weight: 400;
    color: #5C6B73;
}

.add-btn{
    border: 0;
    background-color: #4D77FF;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 25px;
    border-radius: 20px;
}