@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #EEF6F9;
}

/*===== NAVBAR =====*/

.navbar-wrap{
    background-color: #4D77FF;
}

.navbar-brand{
    font-size: 2rem;
    font-weight: 800;
    color: #FFFFFF;
}

.navbar-brand:hover{
    color:#052B40;
}

.nav-item-space{
    margin: 0 10px;
}

.nav-link{
    font-size: 0.825rem;
    font-weight: 600;
    color: #FFFFFF;
}

.nav-link:hover{
    color:#052B40;
}

.log-in-btn{
    margin-left: 50px;
    padding: 5px 20px;
    border: 0;
    border-radius: 20px;
    font-weight: 600;
}

header{
    position: fixed;
    top:0;
    width: 100%;
}

#pic_1{
    margin-top: 70px;
    background-image: url('../images/doctor.png');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}

#FitUS{
    padding-top: 300px;
    font-size: 70px;
    padding-left: 300px;
    padding-right: 300px;
}

#tracking_health{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

#track_1{
    width:100%;
    height: 400px;
    background: url(../images/track_1.png) no-repeat center;
    background-size: contain;
}

#track_2{
    width:100%;
    height: 400px;
    background: url(../images/track_2.png) no-repeat center;
    margin-top: -240px;
    margin-left:200px;
    background-size: contain ;
}

#pic_2{
    background-image: url('../images/eat.png');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}

#Portion{
    padding-top: 350px;
    font-size: 50px;
    padding-left: 300px;
    padding-right: 300px;
}

#content_por{
    font-size: 20px;
    color: white;
}

#info_1{
    width:100%;
    height: 400px;
    background: url(../images/info_1.png) no-repeat center;
    background-size: contain;
}

#info_2{
    width:100%;
    height: 400px;
    background: url(../images/info_2.png) no-repeat center;
    margin-top: -280px;
    margin-left:100px;
    background-size: contain ;
}

#icon_apps{
    margin-left: 500px;
    margin-right: 500px;
}

#icon{
    border: none;
    outline: none;
}

footer{
    background-color: #0B0D17;
    height:400px
}

#contact_us{
    padding-top: 20px;
}

