@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #EEF6F9;
}

/*===== NAVBAR =====*/

.navbar-wrap{
    background-color: #4D77FF;
}

.navbar-brand{
    font-size: 2rem;
    font-weight: 800;
    color: #FFFFFF;
    transition: all 0.4s;
}

.navbar-brand:hover{
    color:#052B40;
    transition: all 0.4s;
}

.nav-item-space{
    margin: 0 10px;
}

.nav-link{
    font-size: 0.825rem;
    font-weight: 600;
    color: #FFFFFF;
    transition: all 0.4s;
}

.nav-link:hover{
    color:#052B40;
    transition: all 0.4s;
}

.log-in-btn{
    padding: 5px 20px;
    border: 0;
    border-radius: 20px;
    font-weight: 600;
}

#profile_info{
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: #DCE4EF;
}

header{
    position: fixed;
    top:0;
    width: 100%;
}

#button{
<<<<<<< HEAD
    margin-left: 750px;
}

.circle-btn{
    height: 50px;
    width: 50px;
    border: 0;
    border-radius: 50%;
    vertical-align: middle;
    background-color: #FFFFFF;
}

.dropdown-item{
    font-size: 1rem;
    color: #052B40;
    font-weight: 600;
=======
    margin-left: 680px;
>>>>>>> 4180a84b2d69435c448b02efc6ecf45a6ff20bc1
}