<%- include('layout.ejs'); %>
<link rel="stylesheet" href="styles/edit_profile.css">
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-wrap">
        <div class="container">
            <a href="#" class="navbar-brand">FitUS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item nav-item-space">
                        <a href="#" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item nav-item-space">
                        <a href="#" class="nav-link">Health Record</a>
                    </li>
                    <li class="nav-item nav-item-space">
                        <a href="#" class="nav-link">Monitoring</a>
                    </li>
                    <li class="nav-item nav-item-space">
                        <a href="#" class="nav-link">Food Portion</a>
                    </li>
                </ul>
                <a href="../login_module/login_page/login.html"><button class="log-in-btn">Log in</button></a>
            </div>
        </div>
    </nav>
</header>
<body>
    <div class="d-flex justify-content-center mt-5 pb-5" style="padding-top: 50px;">
        <b style="font-size: 50px;">
            Update your profile
        </b>
    </div>
    <div class ="rounded-5 mb-5" id="profile_form">
        <div class="d-flex justify-content-center">
            <div class=" rounded-circle"
                style="width:150px;height:150px;margin-top:10px; border-color: green; border-style:solid" alt="Avatar">
                    <!-- <i class="fas fa-user-alt fa-3x text-info"></i> -->
            </div>
        </div>
        <div>
            <form method="post" action="/editprofile">
                <div class="row">
                    <div class="col px-5">
                        <div class="row">
                            <p>Fullname: </p>
                        </div>
                        <div class="row pe-5 ps-2 was-validated">
                            <input type="text" id="Fullname" class="form-control" name="Fullname" required>
                        </div>
                        <div class="row mt-3">
                            <p>Email: </p>
                        </div>
                        <div class="row pe-5 ps-2">
                            <input type="text" id="Email" class="form-control " name="Email" readonly>
                        </div>
                        <div class="row mt-3">
                            <p>Phone number: </p>
                        </div>
                        <div class="row pe-5 ps-2 was-validated">
                            <input type="text" id="Phone number" class="form-control" name="Phone_number" required>
                        </div>
                        <div class="row mt-3">
                            <p>Date of birth: </p>
                        </div>
                        <div class="row pe-5 ps-2">
                            <input type="date" id="Date_of_birth" class="form-control is-invalid" name="Date_of_birth" required autofocus>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <p>Gender: </p>
                        </div>
                        <div class="row pe-5 ps-2 was-validated">
                            <div class="form-check form-check-inline col" id="Gender">
                                <input class="form-check-input is-invalid" type="radio" name="Gender" id="male" value="Male" required>
                                <label class="form-check-label" for="male">Male</label>
                            </div>
                            <div class="form-check form-check-inline  col">
                                <input class="form-check-input is-invalid" type="radio" name="Gender" id="female" value="Female" required>
                                <label class="form-check-label" for="female">Female</label>
                            </div>
                            <div class="form-check form-check-inline col">
                                <input class="form-check-input is-invalid" type="radio" name="Gender" id="other" value="Other" required>
                                <label class="form-check-label" for="other">Other</label>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <p>Address: </p>
                        </div>
                        <div class="row pe-5 ps-2 was-validated">
                            <input type="text" id="Address" class="form-control" name="Address" required>
                        </div>
                        <div class="row mt-3">
                            <p>Country: </p>
                        </div>
                        <div class="row pe-5 ps-2 was-validated">
                            <input type="text" id="Country" class="form-control" name="Country" required>
                        </div>
                    </div>
                </div>
                <div class="row mt-5 mb-4 pb-5">
                    <div class="col px-5"></div>
                    <div class="col px-5">
                        <div class="row">
                            <!-- <div class="col"></div> -->
                            <div class="col-sm-4">
                                <div id="button">
                                    <a class="btn btn-dark rounded-5" href="profile" role="button">Cancel</a>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div id="button">
                                    <button class="btn btn-primary rounded-5 button" type="submit" formaction="#" disabled> Update your profile</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </form>
        </div>
        
    </div>
    <script type="text/javascript" src="./edit_profile.js"></script>
</body>
</html>