<%- include('layout.ejs'); %>
    <link rel="stylesheet" href="styles/forgot_pass.css">
</head>
<body class="bg-image">
    <div>
        <div class="text-center mt-5 mb-4 text-dark fs-3">
            <b>FitUS</b>
        </div>

        <div id="login">
            <form>
                <div class="row px-4">
                    <div style= "font-size:22px" class="text mt-4 mb-4">
                        <b>Forgot your password</b>
                    </div>
                </div>
                
                <div class="row mx-4">
                    <input type="email" id="emailAddress" class="form-control mt-3 mb-3" placeholder="Input your email account" name="email" required autofocus>
                </div>
                
                <div class="text-center row mx-4">
                    <button class="btn btn-dark btn-block" type="submit" formaction="./re_pass_page"> CONTINUE</button>
                </div>
                <div class="row mt-5"></div>
                <div class="row mt-5"></div>
                <div class="row mt-5"></div>
                <div class="row mt-5"></div>
                <div class="row mt-4"></div>
               
                <div class="text-center mt-5 row">
                    <p>
                        Having account? <a class="link-opacity-100 link-dark" href ="./login">SIGN IN HERE</a>
                    </p>
                </div>
                
            </form>
        </div>

    </div>
</body>
</html>