<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="../publics/styles/landing_page.css"> -->
    <link rel="stylesheet" href="styles/landing_page.css">
</head>
    <!-- header/nav bar -->
    <header>
    <nav class="navbar navbar-expand-lg navbar-wrap">
        <div class="container">
            <a href="#" class="navbar-brand">FitUS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item nav-item-space">
                        <a href="#" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item nav-item-space">
                        <a href="#" class="nav-link">Health Record</a>
                    </li>
                    <li class="nav-item nav-item-space">
                        <a href="#" class="nav-link">Monitoring</a>
                    </li>
                    <li class="nav-item nav-item-space">
                        <a href="#" class="nav-link">Food Portion</a>
                    </li>
                </ul>
                <a href="login"><button class="log-in-btn">Log in</button></a>
            </div>
        </div>
    </nav>
</header>
<body>
    <div id="pic_1" >
        <div class="d-flex justify-content-center" id="FitUS" style="text-align:center">
            <b>
                Welcome to FitUS health service
            </b>
        </div>
        <div class="d-flex justify-content-center pt-3">
            <div>
                <a class="btn btn-primary rounded-5" style="width:200px;height:60px; text-align:center; padding-top:15px; font-size:large" href="#tracking" role="button">
                    <b>
                        See the benefit
                    </b>
                </a>
            </div>
        </div>
        <div style="margin-top: 80px;">
            <svg id="wave" style="transition: 0.3s" viewBox="0 0 1440 100" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(238, 246, 249, 1)" offset="0%"></stop><stop stop-color="rgba(238, 246, 249, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,40L60,38.3C120,37,240,33,360,41.7C480,50,600,70,720,71.7C840,73,960,57,1080,41.7C1200,27,1320,13,1440,13.3C1560,13,1680,27,1800,41.7C1920,57,2040,73,2160,71.7C2280,70,2400,50,2520,41.7C2640,33,2760,37,2880,36.7C3000,37,3120,33,3240,26.7C3360,20,3480,10,3600,16.7C3720,23,3840,47,3960,46.7C4080,47,4200,23,4320,26.7C4440,30,4560,60,4680,70C4800,80,4920,70,5040,70C5160,70,5280,80,5400,76.7C5520,73,5640,57,5760,50C5880,43,6000,47,6120,51.7C6240,57,6360,63,6480,56.7C6600,50,6720,30,6840,25C6960,20,7080,30,7200,28.3C7320,27,7440,13,7560,6.7C7680,0,7800,0,7920,3.3C8040,7,8160,13,8280,20C8400,27,8520,33,8580,36.7L8640,40L8640,100L8580,100C8520,100,8400,100,8280,100C8160,100,8040,100,7920,100C7800,100,7680,100,7560,100C7440,100,7320,100,7200,100C7080,100,6960,100,6840,100C6720,100,6600,100,6480,100C6360,100,6240,100,6120,100C6000,100,5880,100,5760,100C5640,100,5520,100,5400,100C5280,100,5160,100,5040,100C4920,100,4800,100,4680,100C4560,100,4440,100,4320,100C4200,100,4080,100,3960,100C3840,100,3720,100,3600,100C3480,100,3360,100,3240,100C3120,100,3000,100,2880,100C2760,100,2640,100,2520,100C2400,100,2280,100,2160,100C2040,100,1920,100,1800,100C1680,100,1560,100,1440,100C1320,100,1200,100,1080,100C960,100,840,100,720,100C600,100,480,100,360,100C240,100,120,100,60,100L0,100Z"></path></svg>
        </div>
    </div>
    <div style=" height:650px;" id="tracking" >
        <div id="tracking_health" class="row">
            <div class="col-4">
                <div id="track_1">
                
                </div>
                <div id="track_2">
    
                </div>
            </div>
            <div class="col-2"></div>
            <div id="content_tracking" class="col-6" style="margin-top: 160px;">
                <div class="row d-flex justify-content-center" style="font-size: xx-large;">
                    <b class="text-primary" style="text-align: center;">
                        Tracking your health
                    </b>
                </div>
                <div class="row" style="text-align: center; font-size:20px">
                    Tracking your health easily with many feature this service provide such as calculate BMI, health calendar, etc.
                </div>
                <div class="row d-flex justify-content-center mt-4">
                    <a class="btn btn-outline-primary rounded-5" style="width:200px;height:60px; text-align:center; padding-top:15px; font-size:large" href="#" role="button">
                        <b>
                            See the benefit
                        </b>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="pic_2">
        <div class="d-flex justify-content-center " id="Portion" style="text-align:center; ">
            <b style="color: white;">
                Become more than you are
            </b>
        </div>
        <div class="d-flex justify-content-center" id="content_por">
            <b>
                Following food portion to get health better and better
            </b>
        </div>
        <div class="d-flex justify-content-center pt-3">
            <div>
                <a class="btn btn-warning rounded-5" style="width:200px;height:60px; text-align:center; padding-top:15px; font-size:large" href="editprofile" role="button">
                    <b>
                        Let's do it
                    </b>
                </a>
            </div>
        </div>
        <div style="margin-top: 120px;">
            <svg id="wave" style=" transition: 0.3s" viewBox="0 0 1440 100" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(238, 246, 249, 1)" offset="0%"></stop><stop stop-color="rgba(238, 246, 249, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,40L60,38.3C120,37,240,33,360,41.7C480,50,600,70,720,71.7C840,73,960,57,1080,41.7C1200,27,1320,13,1440,13.3C1560,13,1680,27,1800,41.7C1920,57,2040,73,2160,71.7C2280,70,2400,50,2520,41.7C2640,33,2760,37,2880,36.7C3000,37,3120,33,3240,26.7C3360,20,3480,10,3600,16.7C3720,23,3840,47,3960,46.7C4080,47,4200,23,4320,26.7C4440,30,4560,60,4680,70C4800,80,4920,70,5040,70C5160,70,5280,80,5400,76.7C5520,73,5640,57,5760,50C5880,43,6000,47,6120,51.7C6240,57,6360,63,6480,56.7C6600,50,6720,30,6840,25C6960,20,7080,30,7200,28.3C7320,27,7440,13,7560,6.7C7680,0,7800,0,7920,3.3C8040,7,8160,13,8280,20C8400,27,8520,33,8580,36.7L8640,40L8640,100L8580,100C8520,100,8400,100,8280,100C8160,100,8040,100,7920,100C7800,100,7680,100,7560,100C7440,100,7320,100,7200,100C7080,100,6960,100,6840,100C6720,100,6600,100,6480,100C6360,100,6240,100,6120,100C6000,100,5880,100,5760,100C5640,100,5520,100,5400,100C5280,100,5160,100,5040,100C4920,100,4800,100,4680,100C4560,100,4440,100,4320,100C4200,100,4080,100,3960,100C3840,100,3720,100,3600,100C3480,100,3360,100,3240,100C3120,100,3000,100,2880,100C2760,100,2640,100,2520,100C2400,100,2280,100,2160,100C2040,100,1920,100,1800,100C1680,100,1560,100,1440,100C1320,100,1200,100,1080,100C960,100,840,100,720,100C600,100,480,100,360,100C240,100,120,100,60,100L0,100Z"></path></svg>
        </div>
    </div>
    <div style=" height:550px;">
        <div class="row">
            <div class="col-6" style="margin-top: 160px;">
                <div class="row d-flex justify-content-center" style="font-size: xx-large;">
                    <b class="text-warning" style="text-align: center;">
                        Physical static monitor
                    </b>
                </div>
                <div class="row d-flex justify-content-center" style="text-align: center; font-size:20px">
                    Show your statistic as a modern box to track easily
                </div>
                <div class="row d-flex justify-content-center mt-4">
                    <a class="btn btn-outline-warning rounded-5" style="width:200px;height:60px; text-align:center; padding-top:15px; font-size:large" href="#" role="button">
                        <b>
                            See the benefit
                        </b>
                    </a>
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-2">
                <div id="info_1">
                </div>
                <div id="info_2">
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    <div class="col" style="background-color: #4D77FF; height:550px">
        <div  class="row" style="font-size: 40px;padding-top:100px">
            <b class="text-light d-flex justify-content-center" >
                Don't forget to follow our pages on Facebook!
            </b>
        </div>
            <div class="row d-flex justify-content-center mt-3">
                <div class="col-2"></div>
                <div class="col-5 text-light" style="padding-left: 20px;">
                    Follow us to learn more about health and fitness.
                    We always actively supporting our customer 24/7. 
                    If you encountered any bugs or error, please report to us.
                </div>
                <div class="col-5">
                    <img class="rounded-5" src="../publics/picture/facebook.png" width="300px">
                </div>
            </div>
        </div>
    </div>
    <div style="height: 320px;">
        <div style="margin-top: 100px;">
            <b class="text-primary d-flex justify-content-center" style="font-size: 42px;">Social</b>
        </div>
        <div class="d-flex justify-content-between" id="icon_apps" style="margin-top: 60px;">
            <div>
                <button class="icon" id="icon_1">
                    <svg width="75" height="72" viewBox="0 0 75 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.49109 0.678711H67.4198C71.557 0.678711 74.9109 3.84223 74.9109 7.74462V64.2719C74.9109 68.1743 71.557 71.3378 67.4198 71.3378H7.49109C3.35387 71.3378 0 68.1743 0 64.2719V7.74462C0 3.84223 3.35387 0.678711 7.49109 0.678711ZM7.49109 7.74462V64.2719H67.4198V7.74462H7.49109ZM41.201 36.0238H34.2083V28.9579H41.201V25.4094C41.201 19.5558 46.2318 14.8105 52.4376 14.8105H56.1831V21.8764H52.4376C50.369 21.8764 48.6921 23.4582 48.6921 25.4094V28.9579H56.1173V36.0238H48.6921V57.206H41.201V36.0238Z" fill="black"/>
                    </svg> 
                </button>
            </div>
            <div>
                <button class="icon">
                    <svg width="75" height="72" viewBox="0 0 75 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M22.4733 0.678711H52.4376C64.8492 0.678711 74.9109 10.1693 74.9109 21.8764V50.1401C74.9109 61.8473 64.8492 71.3378 52.4376 71.3378H22.4733C10.0616 71.3378 0 61.8473 0 50.1401V21.8764C0 10.1693 10.0616 0.678711 22.4733 0.678711ZM22.4733 7.74462C14.1988 7.74462 7.49109 14.0717 7.49109 21.8764V50.1401C7.49109 57.9449 14.1988 64.2719 22.4733 64.2719H52.4376C60.712 64.2719 67.4198 57.9449 67.4198 50.1401V21.8764C67.4198 14.0717 60.712 7.74462 52.4376 7.74462H22.4733ZM37.4554 53.673C27.1124 53.673 18.7277 45.7642 18.7277 36.0083C18.7277 26.2523 27.1124 18.3435 37.4554 18.3435C47.7985 18.3435 56.1831 26.2523 56.1831 36.0083C56.1831 45.7642 47.7985 53.673 37.4554 53.673ZM37.4554 46.6071C43.6613 46.6071 48.6921 41.8619 48.6921 36.0083C48.6921 30.1547 43.6613 25.4094 37.4554 25.4094C31.2496 25.4094 26.2188 30.1547 26.2188 36.0083C26.2188 41.8619 31.2496 46.6071 37.4554 46.6071ZM56.1831 21.8764C54.1145 21.8764 52.4376 20.2947 52.4376 18.3435C52.4376 16.3923 54.1145 14.8105 56.1831 14.8105C58.2518 14.8105 59.9287 16.3923 59.9287 18.3435C59.9287 20.2947 58.2518 21.8764 56.1831 21.8764Z" fill="black"/>
                    </svg>    
                </button>
            </div>
            <div>
                <button class="icon">
                    <svg id="icon_3" width="75" height="72" viewBox="0 0 75 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M69.7498 10.0173L74.9109 10.6318L72.5909 15.3722C71.4595 17.6839 70.3271 19.9956 69.1935 22.3073C69.059 22.7969 68.8228 23.2262 68.4734 23.785C68.3274 24.0185 67.8286 24.7613 67.8053 24.7969C67.6736 24.9983 67.5762 25.1571 67.5061 25.2843V34.1683C67.5061 56.9012 45.9277 71.3471 25.5495 71.3471C21.3797 71.3471 18.2115 71.1434 14.5838 70.3362C8.61368 69.008 4.17076 66.3676 2.13768 61.7531L0.0445455 57.0023L5.13136 56.5253C9.73312 56.0938 13.723 55.2 16.787 54.0031C8.37517 52.6239 3.66122 48.8572 3.66122 41.7832V38.0638H7.30931C8.11084 38.0638 8.83358 37.9975 9.47972 37.8758C3.16654 34.0274 0.00445688 27.8537 0.00445688 19.2907C0.00376707 18.9257 0.00376724 18.9257 0.00161447 18.5354C-0.0221022 14.2193 0.205286 11.913 1.3642 8.96958C2.10693 7.08316 3.18052 5.33681 4.62541 3.73666L7.37829 0.687988L10.0548 3.80659C18.875 14.0838 27.594 20.3188 36.4961 21.073C36.5341 11.5897 43.5638 4.41305 52.9131 4.41305C57.2716 4.41305 61.2252 6.09977 64.3321 9.14117C66.0326 9.49743 67.8386 9.78971 69.7498 10.0173ZM61.6842 16.1682L60.5659 15.91L59.7935 15.0459C57.926 12.9566 55.582 11.8519 52.9131 11.8519C47.5761 11.8519 43.7921 15.7289 43.7921 21.1504C43.7921 22.0364 43.7697 22.5931 43.6614 23.3248C43.2294 26.2446 41.6231 28.5892 38.3199 28.5892C27.3828 28.5892 17.5158 22.6154 7.89407 12.4126C7.39805 13.9499 7.28139 15.5302 7.29768 18.4938C7.29987 18.8901 7.29987 18.8901 7.30063 19.2907C7.30063 26.908 10.3275 31.0747 17.4943 33.3971L20.0373 34.2212V36.9418C20.0373 40.2408 16.9717 43.3464 12.4863 44.7374C14.5424 46.3279 18.7475 47.1862 25.5508 47.1862H29.1989V50.9056C29.1989 56.2345 23.1932 60.4069 14.1208 62.5858C17.0796 63.51 21.019 63.9083 25.5495 63.9083C42.3834 63.9083 60.2099 51.9741 60.2099 34.1683V24.8698C60.2099 23.7771 60.5206 22.8286 61.0367 21.8424C61.2385 21.4569 61.4607 21.0893 61.7349 20.67C61.7865 20.5911 61.9781 20.3051 62.1301 20.0765L62.4193 19.4869C62.8878 18.5316 63.3561 17.5763 63.8242 16.6211C63.0967 16.4805 62.3834 16.3296 61.6842 16.1682Z" fill="black"/>
                    </svg>  
                </button>
            </div>
        </div>
    </div>
    <script src="scripts/landing_page.js"></script>
    <!-- <script type="text/javascript" src="./landing_page.js"></script> -->
</body>
<footer>
    <div class="col">
        <div class="row" style="padding-top: 80px;">
            <div class="col-1"></div>
            <div class="col-4 text-light">
                Lorem ipsum dolor amet, consectetur adipiscing elit. 
                Eget nisl nunc quam ac sed turpis volutpat. 
                Cursus sed massa non nisi, placerat.
            </div>
            <div class="col-3"></div>
            <div class="col-4">
                <div class="text-light" style="font-size: 24px;">Reach us</div>
                <div class="row" id="contact_us">
                    <div class="col-1">
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.2611 8.47622V5.59896H3.15775V8.47565L12.7094 13.9108L22.2611 8.47622ZM22.2611 11.1767L12.7094 16.6113L3.15775 11.1762V22.5065H22.2611V11.1767ZM3.15775 3.18359H22.2611C23.4334 3.18359 24.3837 4.26499 24.3837 5.59896V22.5065C24.3837 23.8405 23.4334 24.9219 22.2611 24.9219H3.15775C1.98547 24.9219 1.03516 23.8405 1.03516 22.5065V5.59896C1.03516 4.26499 1.98547 3.18359 3.15775 3.18359Z" fill="#B5CADF"/>
                        </svg>
                    </div>
                    <div class="col-8 text-light">healthfitus.@gmail.com</div>
                </div>
                <div class="row" id="contact_us">
                    <div class="col-1">
                        <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.7787 6.2072C11.5065 7.01396 11.2757 7.92793 10.6322 8.79515C10.4796 9.00076 10.3038 9.20334 10.0914 9.42658C9.98941 9.53372 9.90991 9.61431 9.74363 9.78075C9.36599 10.1588 9.04854 10.4764 8.79125 10.7337C8.66648 10.8584 9.51832 12.5606 11.1715 14.2154C12.8238 15.8693 14.5259 16.7217 14.6512 16.5963L15.603 15.6441C16.1271 15.1195 16.4046 14.8663 16.786 14.6161C17.5789 14.0959 18.4437 13.9546 19.1731 14.6068C21.5546 16.3103 22.9023 17.3557 23.5626 18.0417C24.8503 19.3798 24.6816 21.4394 23.5699 22.6144C23.1844 23.0219 22.6956 23.5109 22.1183 24.0675C18.6262 27.5615 11.2562 25.4352 5.6079 19.7813C-0.0416703 14.1262 -2.16688 6.75552 1.31792 3.26886C1.94354 2.6334 2.14981 2.42724 2.75911 1.82687C3.89351 0.709099 6.04821 0.534079 7.35803 1.82798C8.04701 2.50857 9.14541 3.92184 10.7787 6.2072ZM17.3587 17.4004L16.4068 18.3529C14.7888 19.9718 12.0332 18.5918 9.41554 15.9716C6.79609 13.3496 5.41764 10.595 7.03623 8.97656C7.29317 8.71964 7.61033 8.40231 7.98768 8.02459C8.13993 7.87219 8.20957 7.8016 8.29317 7.71374C8.40706 7.59404 8.50065 7.48891 8.57558 7.39588C7.12812 5.37959 6.14416 4.1197 5.61372 3.59571C5.33978 3.3251 4.72637 3.37493 4.50118 3.59682C3.90058 4.18861 3.70316 4.38593 3.08006 5.01877C0.838997 7.26107 2.55461 13.2112 7.36385 18.0252C12.1716 22.8376 18.1208 24.5541 20.3789 22.295C20.9473 21.7468 21.4104 21.2834 21.7668 20.9067C22.0244 20.6344 22.0705 20.0727 21.7742 19.7648C21.2806 19.252 20.0724 18.31 17.9862 16.8118C17.8341 16.9342 17.6472 17.1117 17.3587 17.4004Z" fill="#B5CADF"/>
                        </svg> 
                    </div>
                    <div class="col-8 text-light">+87 98765 43210</div>
                </div>
                <div class="row" id="contact_us">
                    <div class="col-1">
                        <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.48221 14.4952H-1V12.0793H1.48221C2.03925 7.04028 6.04028 3.03925 11.0793 2.48221V0H13.4952V2.48221C18.5342 3.03925 22.5352 7.04028 23.0923 12.0793H25.5745V14.4952H23.0923C22.5352 19.5342 18.5342 23.5352 13.4952 24.0923V26.5745H11.0793V24.0923C6.04028 23.5352 2.03925 19.5342 1.48221 14.4952ZM12.2872 4.83172C7.61738 4.83172 3.83172 8.61738 3.83172 13.2872C3.83172 17.9571 7.61738 21.7427 12.2872 21.7427C16.9571 21.7427 20.7427 17.9571 20.7427 13.2872C20.7427 8.61738 16.9571 4.83172 12.2872 4.83172ZM12.2872 8.45551C14.9557 8.45551 17.119 10.6187 17.119 13.2872C17.119 15.9557 14.9557 18.119 12.2872 18.119C9.61875 18.119 7.45551 15.9557 7.45551 13.2872C7.45551 10.6187 9.61875 8.45551 12.2872 8.45551ZM12.2872 10.8714C10.953 10.8714 9.87137 11.953 9.87137 13.2872C9.87137 14.6215 10.953 15.7031 12.2872 15.7031C13.6215 15.7031 14.7031 14.6215 14.7031 13.2872C14.7031 11.953 13.6215 10.8714 12.2872 10.8714Z" fill="#B5CADF"/>
                        </svg>
                    </div>
                    <div class="col-8 text-light">227 Nguyen Van Cu, Phuong 4, District 5, Ho Chi Minh city, Viet Nam</div>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-1"></div>
            <div class="col-4 text-light" style="padding-top: 80px;">
                © 2023 FitUS
            </div>
            
        </div>
    </div>
</footer>
</html>
