<%- include('layout.ejs'); %>
<link rel="stylesheet" href="styles/profile.css">
</head>
    <!-- header/nav bar -->
    <nav class="navbar navbar-expand-lg navbar-wrap">
        <div class="container">
            <a href="#" class="navbar-brand">FitUS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item nav-item-space">
                        <a href="#" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item nav-item-space">
                        <a href="#" class="nav-link">Health Record</a>
                    </li>
                    <li class="nav-item nav-item-space">
                        <a href="#" class="nav-link">Monitoring</a>
                    </li>
                    <li class="nav-item nav-item-space">
                        <a href="#" class="nav-link">Food Portion</a>
                    </li>
                </ul>
                <a href="login"><button class="log-in-btn">Log in</button></a>
            </div>
        </div>
    </nav>
</header>
<body>
    <div>
        <div id="background"></div>
        <div id="avatar"> 
            <div class="row d-flex justify-content-center">
                <div class="rounded-circle border "
                    style="width:150px;height:150px;" alt="Avatar">
                    <!-- <i class="fas fa-user-alt fa-3x text-info"></i> -->
                </div>
                <div class="row d-flex justify-content-center" style="font-size:xx-large">
                    <b>
                    Username
                    </b>
                </div>
            </div>
        </div>
        <div class="rounded-5" id="show_infor">
            <div>
                <div style="margin-left:40px; margin-top:20px; padding-top:30px">
                    <b style="font-size:xx-large;">User information</b>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <p>Username:  </p>
                            </div>
                            <div class="row">
                                <p>Email: </p>
                            </div>
                            <div class="row">
                                <p>Phone number: </p>
                            </div>
                            <div class="row">
                                <p>Date of birth: </p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <p>Gender: </p>
                            </div>
                            <div class="row">
                                <p>Address: </p>
                            </div>
                            <div class="row">
                                <p>Country: </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3"></div>
            <div id="button">
                <a class="btn btn-primary rounded-5" href="editprofile" role="button">Update your profile</a>
            </div>
        </div>
    </div>
    
</body>
</html>
