<%- include('layout.ejs'); %>
<link rel="stylesheet" href="styles/profile.css">
</head>
<!-- <header></header> -->
<header>
    <nav class="navbar navbar-expand-lg navbar-wrap">
        <div class="container">
            <a href="#" class="navbar-brand">FitUS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item nav-item-space">
                        <a href="#" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item nav-item-space">
                        <a href="#" class="nav-link">Health Record</a>
                    </li>
                    <li class="nav-item nav-item-space">
                        <a href="#" class="nav-link">Monitoring</a>
                    </li>
                    <li class="nav-item nav-item-space">
                        <a href="#" class="nav-link">Food Portion</a>
                    </li>
                </ul>
                <a href="login"><button class="log-in-btn">Log in</button></a>
            </div>
        </div>
    </nav>
</header>
<body>
    <div class = "rounded-5 mb-5 pt-3 pb-5" id="profile_info">
        <div class = "d-flex justify-content-center">
            <div class="row rounded-circle "
                style="width:150px;height:150px;margin-top:10px; border-color: green; border-style:solid" alt="Avatar">
              <!-- <i class="fas fa-user-alt fa-3x text-info"></i> -->
            </div>
        </div>

        <div class = "d-flex justify-content-center mt-4 mb-5">
            <div class = "row" style="font-size:xx-large">
                <b>Username</b>
            </div>
        </div>
        <div>
            <div class="rounded-5" id="show_infor">
                <div class="row ps-5 pe-5">
                    <div class="col ms-5">
                        <div class="row mb-3" style="font-size:large">
                            <b class="col-sm-5">Username: </b>
                            <b class="col-sm-7" id="Username"></b>
                        </div>
                        <div class="row mb-3" style="font-size:large">
                            <b class="col-sm-5">Email: </b>
                            <b class="col-sm-7" id="Email"></b>
                        </div>
                        <div class="row mb-3" style="font-size:large">
                            <b class="col-sm-5">Phone number: </b>
                            <b class="col-sm-7" id="Phone_number"></b>
                        </div>
                        <div class="row mb-3" style="font-size:large">
                            <b class="col-sm-5">Date of birth: </b>
                            <b class="col-sm-7" id="Date_of_birth"></b>
                        </div>
                    </div>
                    <div class="col ms-5">
                        <div class="row mb-3" style="font-size:large">
                            <b class="col-sm-5">Gender: </b>
                            <b class="col-sm-7" id="Gender"></b>
                        </div>
                        <div class="row mb-3" style="font-size:large">
                            <b class="col-sm-5">Address: </b>
                            <b class="col-sm-7" id="Address"></b>
                        </div>
                        <div class="row mb-3" style="font-size:large">
                            <b class="col-sm-5">Country: </b>
                            <b class="col-sm-7" id="Country"></b>
                        </div>
                    </div>
                </div>
            </div>
            <div id="button" class="row mt-3">
                <div>
                    <a class="btn btn-primary rounded-5" href="edit_profile" role="button">Update your profile</a>
                </div>
            </div>
        </div>
            <script>
                // Using template literals for string interpolation
                // let Username = document.querySelector('#Username')
                // let Email = document.querySelector('#Email')
                // let Phone_number = document.querySelector('#Phone_number')
                // let Date_of_birth = document.querySelector('#Date_of_birth')
                // let Gender = document.querySelector('#Gender')
                // let Address = document.querySelector('#Address')
                // let Country = document.querySelector('#Country')
                // fetch('/profile')
                //     .then(function(res) {
                //         return res.json()
                //     })
                //     .then(function(data) {
                //         console.log(data)
                //     })
                //     .catch(function(err) {
                //         console.log("error");
                //     })
            </script>
        </div>
    </div>  
</div>
    
</body>
</html>
